* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

:root {
    --background-primeiroMenu: white;
    --background-segundoMenu: white;
    --background-terceiroMenu: white;
    --background-quartoMenu: rgb(55, 98, 83);

    --borderCinzaDivisao: solid rgb(124, 124, 124) 2px;

    --bordaDosMenus: 75px;
}

.dark-mode:root {
    --background-primeiroMenu: rgb(55, 98, 83);
    --background-segundoMenu: rgb(224, 102, 66);
    --background-terceiroMenu: rgb(55, 98, 83);
    --background-quartoMenu: rgb(55, 98, 83);
    --background-quintoMenuUm: rgb(224, 102, 66);
    --background-quintoMenuDois: rgb(55, 98, 83);

    --fontColorDarkMode: white;
    --filtroDasEstrelas: hue-rotate(140deg) saturate(100%);

    --borderCinzaDivisao: none;

    --bordaDosMenus: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#primeiraParte {
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#primeiroMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0%;
    height: 100%;
    width: 40%;
    border-top-right-radius: var(--bordaDosMenus);
    border-end-end-radius: var(--bordaDosMenus);
    color: var(--fontColorDarkMode);
    background-color: var(--background-primeiroMenu)
}

#primeiroPng {
    height: 100%;
    width: 68%;
    object-fit: cover;
    object-position: 40px -30px;
    display: block;
}

#conteudoDaImagemUm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    width: 90%;
}

#primeiraMarca {
    font-size: 40px;
}

#primeiroTextoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
}

#primeiroHDois {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

#primeiroHTres {
    font-size: 28px;
    width: 80%;
}

button {
    height: 60px;
    width: 250px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(42, 88, 72);
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 65%;
}

#iconesDePessoas {
    display: flex;
}

.partirImagemPrimeirosIcones {
    height: 65px;
    width: 65px;
    overflow: hidden;
    border-radius: 50%;
}

#segundoPng {
    width: 100%;
    object-fit: cover;
    object-position: 0px -10px;
    display: block;
}

#terceiroPng {
    width: 165%;
    object-fit: cover;
    object-position: -18px 0px;
    display: block;
}

#quartoPng {
    width: 165%;
    object-fit: cover;
    object-position: 10px 0px;
    display: block;
    transform: translateX(-30px);
}

#partirImagemDois {
    transform: translateX(-15px);
}

#partirImagemTres {
    transform: translateX(-30px);
}

.estrela {
    filter: var(--filtroDasEstrelas);
}


/* segundaParte */

#segundaParte {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: var(--fontColorDarkMode);
    background-color: var(--background-segundoMenu);
}

#segundoMenu {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

#marcasegunda {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 250px;
    z-index: 2;
    font-size: 30px;
}

#ilustracoesPerfumesAVenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 50%;
}

#florEmAmostra {
    width: 450px;
}

#opcoes-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 20%;
}

#opcoes-divDois {
    display: none;
}

.opcoesDeFlores {
    width: 90px;
    cursor: pointer;
}

#nomeDoPerfume {
    font-size: 40px;
}

#descricoesPerfumesAVenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    width: 50%;
    border-left: var(--borderCinzaDivisao);
}

#descricaoDoPerfumeEmAmostra {
    width: 75%;
    font-size: 25px;
    text-align: center;
}

/* terceiraParte */

#terceiraParte {
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#terceiroMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0%;
    height: 100%;
    width: 40%;
    border-top-right-radius: var(--bordaDosMenus);
    border-end-end-radius: var(--bordaDosMenus);
    color: var(--fontColorDarkMode);
    background-color: var(--background-terceiroMenu);
}

#quintoPng {
    height: 100%;
    width: 70%;
    object-fit: cover;
    object-position: 0px 0px;
    display: block;
}

#marcaTres {
    width: 75%;
    font-size: 30px;
}

#conteudoDaImagemTres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}

#textoExplicativoTerceiroMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 75%;
}

#htres-terceiraParte {
    width: 100%;
    font-size: 30px;
}

.texto {
    font-size: 16px;
}

.texto-repertorio {
    width: 100%;
    font-size: 20px;
}

#repertorio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#texto-repertorio-autora {
    font-size: 15px;
}


/* quartaParte */

#quartaParte {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
}

#quartoMenu {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    position: absolute;
    right: 0%;
    height: 100%;
    width: 40%;
    border-bottom-left-radius: 75px;
    border-top-left-radius: 75px;
    background-color: var(--background-quartoMenu);
}

#sextoPng {
    position: absolute;
    height: 100%;
    width: 70%;
    object-fit: cover;
    object-position: -150px 0px;
    display: block;
}

#marcaQuatro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 250px;
    font-size: 30px;
    z-index: 2;
    color: white;
}

#conteudoDaImagemQuatro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
    width: 90%;
}

#hdois-quartaParte {
    width: 90%;
    font-size: 40px;
    color: white;
    text-align: end;
}

.texto-quatro {
    width: 90%;
    font-size: 23px;
    color: white;
    text-align: end;
}


/* quintaParte */

/* divisao de cores */

#divDaMarca {
    display: flex;
    width: 100%;
}

#divLaranjaDaMarca {
    width: 50%;
    background-color: var(--background-quintoMenuUm);
}

#divVerdeDaMarca {
    width: 50%;
    background-color: var(--background-quintoMenuDois);
}

#quintaParte {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
    color: var(--fontColorDarkMode);
}

#marcaQuinta {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 250px;
    font-size: 30px;
    z-index: 2;
}

#quintoMenu {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}

#perguntasFrequentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    border-right: var(--borderCinzaDivisao);
    background-color: var(--background-quintoMenuUm);
}

#perguntasERespostas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 85%;
}

.pergunta-quinto {
    font-size: 25px;
}

.texto-quinto {
    display: flex;
    width: 71.1%;
    font-size: 18px;
}

.hdois-quintaParte {
    width: 85%;
    font-size: 40px;
}


/* avaliacoes */

#amadoPorTodos {
    font-size: 40px;
}

#avaliacoes-amadoPorTodos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    background-color: var(--background-quintoMenuDois);
}

#opinioesDosOutros-cardsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardsDeOpinioes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 135px;
    width: 80%;
}

.iconesDeOpinioes {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
}

#primeiroIconeDeOpinioes {
    width: 100%;
    object-fit: cover;
    object-position: 0px -15px;
    display: block;
}

#segundoIconeDeOpinioes {
    width: 150%;
    object-fit: cover;
    object-position: -23px 0px;
    display: block;
}

#terceiroIconeDeOpinioes {
    width: 150%;
    object-fit: cover;
    object-position: -23px 0px;
    display: block;
}

#quartoIconeDeOpinioes {
    width: 150%;
    object-fit: cover;
    object-position: -27px 0px;
    display: block;
}

.opinioesEEstrelas {
    width: 63%;
}

.estrelaOpiniao {
    filter: var(--filtroDasEstrelas);
}

#marcaQuintaResponsivo {
    display: none;
}

#amadoPorTodosResponsivo {
    display: none;
}

.setas {
    display: none;
    transform: scale(1, 1)
}